<footer>
  <div class="container">
    <div class="brand">
      <h3>Sign-Emote</h3>
      <a href="https://github.com/Tanvisharma31/sign-emote-minor-project">hello&#64;Sign-Emote</a>
      <br />
      <app-i18n-language-selector />
    </div>

    <div class="social">
      <h4>Find Us</h4>
      <ul>
        <li><a href="https://twitter.com/tanvisharma_31_" target="_blank">Twitter</a></li>
        <li><a href="https://www.linkedin.com/tanvisharma31" target="_blank">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</footer>
