<div class="converse-page">
  <nav>
    <div class="navbar">
      <img
        class="dpimg"
        (click)="openFullScreenDP()"
        src="assets/icons/generated/mstile-icon-558.png"
        alt="Profile Image" />
      <div class="personalInfo">
        <label id="name">Sign-Emote Bot</label>
        <label id="name">Help & queries</label>
      </div>
    </div>
  </nav>

  <div class="scrollable" id="chatting">
    <ul id="listUL"></ul>
  </div>

  <footer>
    <div class="sendBar">
      <input
        id="inputMSG"
        [(ngModel)]="userInput"
        (keypress)="onUserInput($event)"
        type="text"
        placeholder="Type a message"
        autofocus />
      <svg (click)="onSendButtonClick()" viewBox="0 0 24 24" width="24" height="24">
        <path
          fill="currentColor"
          d="M1.101 21.757 23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z"></path>
      </svg>
    </div>
  </footer>
</div>
