select {
  font-size: 14px;
  border: none;
  background: transparent;

  &:focus-visible {
    outline: none;
  }

  @media (prefers-color-scheme: dark) {
    color: white;

    * {
      /*
      Only required for Windows, Chrome
      https://github.com/Tanvisharma31/sign-emote-minor-project/54
       */
      background: black;
    }
  }
}
