select {
  font-size: 14px;
  border: none;
  background: transparent;

  &:focus-visible {
    outline: none;
  }

  @media (prefers-color-scheme: dark) {
    color: white;

    * {
      background: black;
    }
  }
}
